* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  background-color: rgb(40, 40, 40);
}
